<section>
  <div id="home">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="content">
        <div class="image text-center mb-4">
          <img src="./assets/images/avataaars (1).svg" alt="photo" class="w-75">
        </div>
        <div class="content-info text-white text-center">
          <h1 class="fw-bold">START FRAMEWORK</h1>
          <div class="icon mb-3">
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="fs-6">Graphic Artist - Web Designer - Illustrator</p>
        </div>
      </div>
    </div>
  </div>
</section>
