<section>
  <div id="details" class="py-5">
    <div class="container py-5">
      <div class="content">
        <div class="row text-white text-center">
          <div class="col-lg-4 col-md-6">
            <h2 class="pb-2">LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
          <div class="col-lg-4 col-md-6">
            <h2 class="pb-2">AROUND THE WEB</h2>
            <div class="icons text-center fs-5">
              <i class="fa-brands fa-facebook px-2"></i>
              <i class="fa-brands fa-twitter px-2"></i>
              <i class="fa-brands fa-github px-2"></i>
              <i class="fa-solid fa-globe px-2"></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <h2 class="pb-2">ABOUT FREELANCER</h2>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
